.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* FIX for animation shaking on the end */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 35px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        /* animation-delay: 3s; 
           animation-iteration-count: 3;
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-in;
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}